<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>Opened World</title>
	<link rel="stylesheet" href="/styles/normalize.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand:400,500,700|Spectral:400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
</head>

<body>
	
	<header>
		<h1>Opened World</h1>
		<h2>IP Address:<br>Opened.World</h2>
	</header>

	<div id="description">
		<p>A semi-vanilla Minecraft server.<br>This website is under construction.</p>
	</div>

	<div id="content">
		<section>
			<p>Voting Sites</p>
			<ul id="voting-sites">
				<li>
					<a href="http://minecraftservers.org/vote/148978" target="_blank">
						<p>Minecraft Servers</p>
					</a>
				</li>
				<li>
					<a href="http://minecraft-server-list.com/server/243532/vote/" target="_blank">
						<p>Minecraft Server List</p>
					</a>
				</li>
				<li>
					<a href="http://topg.org/Minecraft/in-398425" target="_blank">
						<p>TopG</p>
					</a>
				</li>
				<li>
					<a href="http://minecraft-mp.com/server/149457/vote/" target="_blank">
						<p>Minecraft-MP</p>
					</a>
				</li>
				<li>
					<a href="https://minecraftlist.org/vote/5784" target="_blank">
						<p>Minecraft List</p>
					</a>
				</li>
			</ul>
		</section>
		<footer>
			<p> &copy; 2017 David Seitz Jr.</p>
		</footer>
	</div>
</body>

</html>
